sample-flows.json
[
  {
    "id": "5632e67b.ef9268",
    "type": "inject",
    "z": "f62f004c.8d6dd",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 40,
    "wires": [
      [
        "9cedc1b4.c5e61"
      ]
    ]
  },
  {
    "id": "9cedc1b4.c5e61",
    "type": "function",
    "z": "f62f004c.8d6dd",
    "name": "set payload",
    "func": "msg = {};\nmsg.payload = [];\nmsg.payload[0] = {\n         id: 'utc-time-now',\n         name: 'Get the current time in UTC',\n         request: '{{apiBaseUrl}}/utc/now'\n}\n\nmsg.payload[1] = {\n         id: 'utc-time-now9',\n         name: 'Get the current time in UTC9',\n         request: '{{apiBaseUrl}}/utc/now9'\n}\n \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 280,
    "y": 40,
    "wires": [
      [
        "19334026.02666"
      ]
    ]
  },
  {
    "id": "3f8dfec9.1ef702",
    "type": "debug",
    "z": "f62f004c.8d6dd",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 40,
    "wires": []
  },
  {
    "id": "f9ab1202.d9d66",
    "type": "file",
    "z": "f62f004c.8d6dd",
    "name": "",
    "filename": "/download/collection.json",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 850,
    "y": 80,
    "wires": [
      [
        "fd869677.42ac88"
      ]
    ]
  },
  {
    "id": "fd869677.42ac88",
    "type": "debug",
    "z": "f62f004c.8d6dd",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1030,
    "y": 80,
    "wires": []
  },
  {
    "id": "19334026.02666",
    "type": "postman",
    "z": "f62f004c.8d6dd",
    "name": "Payload to Postman Collection JSON",
    "apiBaseUrl": "http://localhost",
    "collectionName": "xmysql collection",
    "version": "0.0.1",
    "x": 550,
    "y": 40,
    "wires": [
      [
        "3f8dfec9.1ef702",
        "f9ab1202.d9d66"
      ]
    ]
  }
]
